Two type
- Item based filtering
    - User A User B UserC likes apple and UserA UserB likes orange, can recommend orange to userC too (can say orange is similar to apple)
    - Capsicum doesn't like by any user..won't recommend and also not like apple 
- Collabrative Learning
    - A and B likes pizza,pasta..A likes cola as A and B are similar recommend Cola to B too
    - 2 types:
        - Model based
        - Memory based
    
    
- In real life,collabrative is more used
- We need lots of datapoints for recommendation system(around in million/billions)

We'll make Item based recommendation system

In [3]:
import pandas as pd
import numpy as np
import warnings
import os

In [7]:
#will ignore warnings
warnings.filterwarnings('ignore')

In [9]:
#this is tab separated file therefore we will use sep='\t'
df = pd.read_csv(r'C:\Users\vinee\CodingBlocks\Datasets\ml-100k\u.data',sep='\t')

In [10]:
df.head()

   196  242  3  881250949
0  186  302  3  891717742
1   22  377  1  878887116
2  244   51  2  880606923
3  166  346  1  886397596
4  298  474  4  884182806

In [11]:
df.shape

(99999, 4)

In [13]:
column_names = ['user_id','item_id','rating','timestamp']
df = pd.read_csv(r'C:\Users\vinee\CodingBlocks\Datasets\ml-100k\u.data',sep='\t',names=column_names)

In [14]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [15]:
df.shape

(100000, 4)

In [18]:
df['user_id'].nunique()

943

In [19]:
#943 unique users

In [20]:
df['item_id'].nunique()

1682

In [21]:
#1682 unique movies

## Get movie titles

In [30]:
# sep is '|' 
movie_titles = pd.read_csv(r'C:\Users\vinee\CodingBlocks\Datasets\ml-100k\u.item',sep='\|',header=None)

In [31]:
movie_titles.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [32]:
movie_titles = movie_titles[[0,1]]

In [33]:
movie_titles.shape

(1682, 2)

In [34]:
movie_titles.columns = ['item_id','title']