In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('./Dataset/Train.csv')

In [3]:
test_data = pd.read_csv('./Dataset/Test.csv')
test_data.shape

(10000, 1)

In [4]:
df.head()

                                              review label
0  mature intelligent and highly charged melodram...   pos
1  http://video.google.com/videoplay?docid=211772...   pos
2  Title: Opera (1987) Director: Dario Argento Ca...   pos
3  I think a lot of people just wrote this off as...   pos
4  This is a story of two dogs and a cat looking ...   pos

In [5]:
df.shape

(40000, 2)

In [6]:
print(df['review'][10])
print('='*50)
print(df['label'][10])

Steve Martin looks like he's had a face lift. Something very strange about his face. I usually like anything Steve does, but this movie comes off as trashy not funny. Didn't think Charlene encouraging him to be rough with his wife was a good message to be sending out to teens watching this film.
==================================================
neg

In [7]:
test_data.head()

                                              review
0  Remember those old kung fu movies we used to w...
1  This movie is another one on my List of Movies...
2  How in the world does a thing like this get in...
3  "Queen of the Damned" is one of the best vampi...
4  The Caprica episode (S01E01) is well done as a...

In [9]:
review = df['review'][10]
review = review.lower()
review

"steve martin looks like he's had a face lift. something very strange about his face. i usually like anything steve does, but this movie comes off as trashy not funny. didn't think charlene encouraging him to be rough with his wife was a good message to be sending out to teens watching this film."

In [54]:
token = word_tokenize(review)

In [55]:
print(token)

['steve', 'martin', 'looks', 'like', 'he', "'s", 'had', 'a', 'face', 'lift', '.', 'something', 'very', 'strange', 'about', 'his', 'face', '.', 'i', 'usually', 'like', 'anything', 'steve', 'does', ',', 'but', 'this', 'movie', 'comes', 'off', 'as', 'trashy', 'not', 'funny', '.', 'did', "n't", 'think', 'charlene', 'encouraging', 'him', 'to', 'be', 'rough', 'with', 'his', 'wife', 'was', 'a', 'good', 'message', 'to', 'be', 'sending', 'out', 'to', 'teens', 'watching', 'this', 'film', '.']

In [19]:
from nltk.corpus import stopwords

In [20]:
sw = set(stopwords.words('english'))
print(sw)

{"won't", 'theirs', 'own', 'my', 'should', 'as', 'do', 're', 'won', 've', "it's", 'the', 'now', "weren't", 'them', 'will', 'hasn', 'your', "haven't", 'who', 'his', 'same', 'we', "needn't", 'some', 'ours', 'does', 'each', 'most', "doesn't", 'isn', "you've", 'me', "wouldn't", 'don', 'these', 'has', 'so', "that'll", "shouldn't", 'those', 'd', 'didn', 'while', 'why', 'haven', 'ma', 'were', 'on', 'too', 'itself', 'only', 'are', 'again', 'a', 'whom', 'been', 'for', 'nor', 'in', 'their', 'no', 'they', 'against', 'yourselves', 'there', "you'll", "mustn't", 'yours', 'then', 'until', 'which', 'shan', 'after', 'had', "hasn't", 'be', 'was', 'he', 'through', 'at', 'am', 'few', 'than', "don't", 'myself', 'yourself', 'you', "mightn't", 'it', 'if', 'above', 'herself', 'below', 'such', 'mustn', 'into', 'hadn', 'is', 'needn', 'what', 'couldn', 'wasn', 'aren', 's', "isn't", "wasn't", 'her', "couldn't", 'our', 'that', 'an', 'doing', 'to', 'ain', 'where', 'y', 'ourselves', 'weren', 'm', 'all', 'i', "should've", 'mightn', 'during', 'of', 'any', 'when', 'under', 'both', 'down', "shan't", 'over', 'being', 'up', 't', 'she', 'about', 'll', 'this', 'its', 'can', 'have', 'because', 'very', 'o', 'more', 'once', 'out', 'and', 'off', 'here', "aren't", 'other', "didn't", 'with', "you're", 'hers', "hadn't", 'themselves', 'how', 'before', 'shouldn', 'him', 'from', "you'd", 'not', 'but', 'just', 'by', 'further', 'wouldn', 'doesn', 'having', 'did', 'between', 'or', 'himself', "she's"}

In [21]:
review = review.lower().split()

In [22]:
print(review)
len(review)

['steve', 'martin', 'looks', 'like', "he's", 'had', 'a', 'face', 'lift.', 'something', 'very', 'strange', 'about', 'his', 'face.', 'i', 'usually', 'like', 'anything', 'steve', 'does,', 'but', 'this', 'movie', 'comes', 'off', 'as', 'trashy', 'not', 'funny.', "didn't", 'think', 'charlene', 'encouraging', 'him', 'to', 'be', 'rough', 'with', 'his', 'wife', 'was', 'a', 'good', 'message', 'to', 'be', 'sending', 'out', 'to', 'teens', 'watching', 'this', 'film.']

54

In [23]:
def remove_stopwords(text,sw):
    return [w for w in text if w not in sw or w == 'not']

In [64]:
useful_words = remove_stopwords(review,sw)

In [65]:
print(useful_words)
len(useful_words)

['steve', 'martin', 'looks', 'like', "he's", 'face', 'lift.', 'something', 'strange', 'face.', 'usually', 'like', 'anything', 'steve', 'does,', 'movie', 'comes', 'trashy', 'not', 'funny.', 'think', 'charlene', 'encouraging', 'rough', 'wife', 'good', 'message', 'sending', 'teens', 'watching', 'film.']

31

In [13]:
# https://stackoverflow.com/a/47091490/4084039
import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [73]:
print(review)
rev = decontracted(review)
rev

steve martin looks like he's had a face lift. something very strange about his face. i usually like anything steve does, but this movie comes off as trashy not funny. didn't think charlene encouraging him to be rough with his wife was a good message to be sending out to teens watching this film.

'steve martin looks like he is had a face lift. something very strange about his face. i usually like anything steve does, but this movie comes off as trashy not funny. did not think charlene encouraging him to be rough with his wife was a good message to be sending out to teens watching this film.'

In [77]:
usef_rev = remove_stopwords(rev.split(),sw)
print(usef_rev)
len(usef_rev)

['steve', 'martin', 'looks', 'like', 'face', 'lift.', 'something', 'strange', 'face.', 'usually', 'like', 'anything', 'steve', 'does,', 'movie', 'comes', 'trashy', 'not', 'funny.', 'not', 'think', 'charlene', 'encouraging', 'rough', 'wife', 'good', 'message', 'sending', 'teens', 'watching', 'film.']

31

In [85]:
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer

In [87]:
stemmer = PorterStemmer()
tokenizer = RegexpTokenizer(r'\w+')
tokenizer

RegexpTokenizer(pattern='\\w+', gaps=False, discard_empty=True, flags=<RegexFlag.UNICODE|DOTALL|MULTILINE: 56>)

In [88]:
def get_cleaned_review(review):
    review = decontracted(review)
    review = review.replace('<br /><br />','')
    review = review.lower()
    review = review.replace('.','')
    review = review.replace(',','')
    tokens = tokenizer.tokenize(review)
    useful_words = remove_stopwords(tokens,sw)
    stemmed_words = [stemmer.stem(w) for w in useful_words]
    cleaned_review = ' '.join(stemmed_words)
    return cleaned_review

In [89]:
rev_clean = get_cleaned_review(df.review[10])
print(df.review[10])
print('='*50)
print(rev_clean)

Steve Martin looks like he's had a face lift. Something very strange about his face. I usually like anything Steve does, but this movie comes off as trashy not funny. Didn't think Charlene encouraging him to be rough with his wife was a good message to be sending out to teens watching this film.
==================================================
steve martin look like face lift someth strang face usual like anyth steve movi come trashi not funni not think charlen encourag rough wife good messag send teen watch film

In [95]:
cleaned_reviews = pd.DataFrame(df['review'].map(get_cleaned_review))
cleaned_reviews.columns = ['cleaned_review']
cleaned_reviews

                                          cleaned_review
0      matur intellig highli charg melodrama unbelive...
1      http videogooglecom videoplay docid 2117721666...
2      titl opera 1987 director dario argento cast cr...
3      think lot peopl wrote anoth one tom cruis weir...
4      stori two dog cat look way back homeold wise g...
...                                                  ...
39995  similar ray lawrenc jindabyn last movi lantana...
39996  starter met director go ww2 enact period movi ...
39997  much dead bodi pain unfunni actual squirm seat...
39998  lifeforc truli bizarr adapt novel space vampir...
39999  saw movi screener best movi seen loooong time ...

[40000 rows x 1 columns]

In [59]:
df.review[140]

'I have to admit I have always found it difficult to watch an Antonioni film from start to finish at the first try, and even for this one, I ended up watching it in three parts on repeated occasions. In the end, I realised perhaps it was better that way, because it forced me to stop thinking in the usual terms of plot and just enjoy the scenes one by one. <br /><br />The first part seems a lot more fragmentary, which is not a bad thing, it just requires more of an effort to follow. When it gets to the desert scenes, all efforts are repaid in full. The stunning cinematography is only a part of it, what really makes it all unforgettable is how the landscape is made into an overwhelming presence, the silence and vastness of it, the sense of sadness and freedom, the way it fuses and contrasts with the two young characters. The desert is dead, but at the same time it feels less distant and alien than the urban scenes in the first part. The dance between the airplane flying over and the girl\'s car makes for a series of great shots. The love scenes in the desert are simply beautiful, it is hard to imagine this kind of approach from a film of our times. There is of course something very stylish and studied about them, but at the same time they manage to express a sense of natural, spontaneous innocence that is very rare these days. It all feels loose and unscripted (thanks also to the understated acting), but that is the result of a maniacal attention to detail and form, which comes to its climax in the series of explosions at the end, a really mesmerising spectacle. It just leaves you in awe.<br /><br />I don\'t really care for some the usual objections: boring - well, yes, it is, if you want all films to follow a classic plot development and be packed with action twists, but then if all cinema was like that, that would be truly dull and sad; pretentious - maybe, but when that kind of ambitiousness is coupled with actual skills, depth, and style, pretentious is a compliment. The "political" criticisms make the least sense to me, I don\'t see the point of approaching a film like this with ideological blinders or worse, patriotic requirements. It just defeats the purpose. Perhaps it\'s true that, like a previous commenter remarked, Antonioni viewed these young \'hippies\' and the politics of protests and riots with the police with the fascination of a foreigner, but I think that adds something rather than detracting from the film. It\'s not true that hippies did not exist in Italy at the time (think of the \'68 protests, like in France), although they were obviously different from the American counterpart and in some ways even more militant. But his interest in this film was not narrowly political. The events seem more like a pretext for a film whose appeal has a universal, timeless quality.<br /><br />A special mention for the fantastic soundtrack. Amongst other things, this film, along with Easy Rider, is probably one of the main earliest precursors of the contemporary \'artsy\' music video as well as the concept of a film soundtrack that would stand on its own, but unlike the former, it uses music in a much more subtle way, blending it with the landscape rather than the action. <br /><br />If you want traditional narrative in a film, then don\'t bother. If you want to be stunned, be patient and you won\'t regret it.'

In [65]:

get_cleaned_review(df.review[140])

"admit alway found difficult watch antonioni film start finish first tri even one end watch three part repeat occas end realis perhap better way forc stop think usual term plot enjoy scene one one first part seem lot fragmentari not bad thing requir effort follow get desert scene effort repaid full stun cinematographi part realli make unforgett landscap made overwhelm presenc silenc vast sens sad freedom way fuse contrast two young charact desert dead time feel less distant alien urban scene first part danc airplan fli girl car make seri great shot love scene desert simpli beauti hard imagin kind approach film time cours someth stylish studi time manag express sens natur spontan innoc rare day feel loos unscript ( thank also underst act ) result maniac attent detail form come climax seri explos end realli mesmeris spectacl leav awei not realli care usual object : bore - well ye want film follow classic plot develop pack action twist cinema like would truli dull sad ; pretenti - mayb kind ambiti coupl actual skill depth style pretenti compliment `` polit '' critic make least sens not see point approach film like ideolog blinder wors patriot requir defeat purpos perhap true like previou comment remark antonioni view young 'hippi ' polit protest riot polic fascin foreign think add someth rather detract film not true hippi not exist itali time ( think '68 protest like franc ) although obvious differ american counterpart way even milit interest film not narrowli polit event seem like pretext film whose appeal univers timeless qualitya special mention fantast soundtrack amongst thing film along easi rider probabl one main earliest precursor contemporari 'artsi ' music video well concept film soundtrack would stand unlik former use music much subtl way blend landscap rather action want tradit narr film not bother want stun patient not regret"

In [66]:
cv = CountVectorizer()

In [97]:
vectorized_corpus = cv.fit_transform(cleaned_reviews['cleaned_review'])

In [99]:
#print(vectorized_corpus)
vectorized_corpus.shape

(40000, 119890)

In [101]:
vocab = cv.get_feature_names()
print(len(vocab))

119890

In [107]:
def change_labels(label):
    if label == 'pos':
        label = 1
    else:
        label = 0
    return label

In [116]:
print(df['label'][0])
print(change_labels(df['label'][0]))
print()
print(df['label'][10])

print(change_labels(df['label'][10]))

pos
1

neg
0

In [121]:
cleaned_reviews['label'] = df['label'].map(change_labels)
cleaned_reviews.head()

                                      cleaned_review  label
0  matur intellig highli charg melodrama unbelive...      1
1  http videogooglecom videoplay docid 2117721666...      1
2  titl opera 1987 director dario argento cast cr...      1
3  think lot peopl wrote anoth one tom cruis weir...      1
4  stori two dog cat look way back homeold wise g...      1

In [123]:
print(df['label'].value_counts())
cleaned_reviews['label'].value_counts()

pos    20011
neg    19989
Name: label, dtype: int64

1    20011
0    19989
Name: label, dtype: int64

In [131]:
Y = np.array(cleaned_reviews['label'])
print(Y)

[1 1 1 ... 0 1 1]

## Train model

In [124]:
from sklearn.naive_bayes import MultinomialNB

In [125]:
mnb = MultinomialNB()

In [132]:
mnb.fit(vectorized_corpus,Y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [145]:
mnb.score(vectorized_corpus,Y)

0.901075

- we are getting 90% accuracy over training data

## Test Data

In [133]:

test_data.head()

                                              review
0  Remember those old kung fu movies we used to w...
1  This movie is another one on my List of Movies...
2  How in the world does a thing like this get in...
3  "Queen of the Damned" is one of the best vampi...
4  The Caprica episode (S01E01) is well done as a...

In [134]:
test_data_clean = pd.DataFrame(test_data['review'].map(get_cleaned_review))
test_data_clean

                                                 review
0     rememb old kung fu movi use watch friday satur...
1     movi anoth one list movi not bother saw 40 yea...
2     world thing like get dvd player home even get ...
3     queen damn one best vampir movi ever seen movi...
4     caprica episod s01e01 well done pilot realli e...
...                                                 ...
9995  watch piec ondemand descript kind outlandish f...
9996  nurs travel rural psychiatr clinic run doctor ...
9997  although small film kind got lost wake waterfr...
9998  first saw film earli 80 cabl uniqu statement s...
9999  recogn pictur diner cover dvd made realiz loca...

[10000 rows x 1 columns]

In [135]:
test_corpus = cv.transform(test_data_clean['review'])

In [136]:
test_corpus

<10000x119890 sparse matrix of type '<class 'numpy.int64'>'
	with 941813 stored elements in Compressed Sparse Row format>

### Prediction

In [142]:
Y_pred = mnb.predict(test_corpus)

In [143]:
Y_pred

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [138]:
sample_sub = pd.read_csv('./Dataset/Sample_submission.csv')

In [140]:
sample_sub.head()

   Id label
0   0   pos
1   1   pos
2   2   pos
3   3   pos
4   4   pos

In [146]:
def change_label_to_str(label):
    if label == 1:
        label = 'pos'
    else:
        label = 'neg'
    return label

In [164]:
submission.drop(columns=[0],inplace=True)

In [162]:
submission['label'] = pd.DataFrame(Y_pred)

In [165]:
submission.head()

   label
0      0
1      0
2      0
3      1
4      1

In [166]:
submission['label'] = submission['label'].map(change_label_to_str)

In [169]:
submission.head()

  label
0   neg
1   neg
2   neg
3   pos
4   pos

In [170]:
submission['Id'] = submission.index

In [171]:
submission.head()

  label  Id
0   neg   0
1   neg   1
2   neg   2
3   pos   3
4   pos   4

In [172]:
submission = submission[['Id','label']]

In [174]:
submission.head()

   Id label
0   0   neg
1   1   neg
2   2   neg
3   3   pos
4   4   pos

In [175]:
submission.to_csv('submission.csv',index_label=False)

In [177]:
df_sub = pd.read_csv('submission.csv')
df_sub.head()

   Id label
0   0   neg
1   1   neg
2   2   neg
3   3   pos
4   4   pos

In [191]:
sample_sub.head()

   Id label
0   0   pos
1   1   pos
2   2   pos
3   3   pos
4   4   pos

In [181]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      10000 non-null  int64
 1   label   10000 non-null  object
dtypes: int64(1), object(1)
memory usage: 234.4+ KB

In [180]:
sample_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      10000 non-null  int64
 1   label   10000 non-null  object
dtypes: int64(1), object(1)
memory usage: 156.4+ KB

In [184]:
test_data['review'][0]

'Remember those old kung fu movies we used to watch on Friday and Saturday late nights when our babysitters THOUGHT we were in charge? Well, this movie plays exactly like one of those movies. Patsy Kensit\'s biggest claim to fame was the love interest to Mel Gibson\'s character in "Lethal Weapon 2," and this performance was one of the reasons why she\'s never made it big: she\'s a terrible actress.<br /><br />In "Lethal Weapon 2," I thought she was cute. Cute enough to check out some of the other movies she\'d been in, including "Loves Music, Loves to Dance" another big let down, which I, obviously, was not impressed with, either. But, as attractive as she is to my eyes, my soul screamed at me to turn it off because she played another cheap, predictable role, and done it very badly.<br /><br />In this movie, Kensit stars as a comedienne (and not a good one, either) who\'s working the clubs of France (couldn\'t cut it in her own homeland, so she\'s making THEIR ears bleed), who\'s down on her luck, but, even worse, the French government wants to throw her out because of an expired visa (or maybe they just caught her act). But she gets married to this Casanova (Freiss), who is just as down on his luck, and the predictability begins...terribly! Is there any way to give this movie a NEGATIVE rating? 1 out of 10 stars is over rating it!'

In [189]:
df_sub['label']

0       neg
1       neg
2       neg
3       pos
4       pos
       ...
9995    neg
9996    pos
9997    pos
9998    pos
9999    neg
Name: label, Length: 10000, dtype: object

In [190]:
sample_sub['label']

0       pos
1       pos
2       pos
3       pos
4       pos
       ...
9995    pos
9996    pos
9997    pos
9998    pos
9999    pos
Name: label, Length: 10000, dtype: object

In [195]:
submission2 = pd.DataFrame(Y_pred)
submission2.columns = ['label']

In [196]:
submission2.head()

   label
0      0
1      0
2      0
3      1
4      1

In [197]:
submission2['label'] = submission2['label'].map(change_label_to_str)
submission2.head()

  label
0   neg
1   neg
2   neg
3   pos
4   pos

In [200]:
submission2.to_csv('submission2.csv',index_label='Id')

In [201]:
df_sub2 = pd.read_csv('submission2.csv')
df_sub2.head()

   Id label
0   0   neg
1   1   neg
2   2   neg
3   3   pos
4   4   pos