In [1]:
import pandas as pd

In [2]:
sample = pd.read_csv('sample_submission.csv')

In [4]:
sample.shape

(1, 3)

In [5]:
sample

,image_url,book_title,product_price
0,../media/cache/5d/72/5d72709c6a7a9584a4d1cf076...,In Her Wake,£12.84

In [6]:
!scrapy startproject bookstore

New Scrapy project 'bookstore', using template directory 'c:\users\vinee\anaconda3\lib\site-packages\scrapy\templates\project', created in:
    C:\Users\vinee\CodingBlocks\DataScience\Challenge_ScrapAShoppingWebsite\bookstore

You can start your first spider with:
    cd bookstore
    scrapy genspider example example.com

In [8]:
pwd

'C:\\Users\\vinee\\CodingBlocks\\DataScience\\Challenge_ScrapAShoppingWebsite'

In [7]:
import os

In [9]:
df = pd.read_csv(r'C:\\Users\\vinee\\CodingBlocks\\DataScience\\Challenge_ScrapAShoppingWebsite\bookstore\book.csv')

In [11]:
df

,image_url,product_title,book_price
0,media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...,A Light in the ...,£51.77

In [64]:
df1 = pd.read_csv(r'C:\\Users\\vinee\\CodingBlocks\\DataScience\\Challenge_ScrapAShoppingWebsite\bookstore\books.csv',names=tits)

In [65]:
df1

,image_url,book_title,product_price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the Attic,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History of Humankind,£54.23
...,...,...,...
995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's Adventures in Won...,£55.53
996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,Ajin: Demi-Human Volume 1 (Ajin: Demi-Human #1),£57.06
997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The Regency Spies of London #1),£16.97
998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's Murder Club #1),£53.98
999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,1000 Places to See Before You Die,£26.08

In [18]:
os.path.getsize(r'C:\\Users\\vinee\\CodingBlocks\\DataScience\\Challenge_ScrapAShoppingWebsite\bookstore\books.csv') > 0

False

In [49]:
with open(r'bookstore\books.csv','w+') as f:
    print(f.read())
#     print(f.seek(0))
#     first = f.read(1)
#     print('f' + first)

In [57]:
 if os.path.getsize(r'C:\Users\vinee\CodingBlocks\DataScience\Challenge_ScrapAShoppingWebsite\books.csv') <= 0:

SyntaxError: unexpected EOF while parsing (<ipython-input-57-70701f062444>, line 1)

In [58]:
df1.head()

,../media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg,A Light in the Attic,£51.77
0,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
1,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
2,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
3,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History of Humankind,£54.23
4,../media/cache/68/33/68339b4c9bc034267e1da611a...,The Requiem Red,£22.65

In [59]:
df1.shape

(999, 3)

In [62]:
tits = ['image_url','book_title','product_price']

In [66]:
df1.to_csv('bookstore.csv')

In [67]:
df2 = pd.read_csv('bookstore.csv')

In [71]:
df2['Unnamed:0'].drop(inplace=True)

KeyError: 'Unnamed:0'

In [70]:
df2

,Unnamed: 0,image_url,book_title,product_price
0,0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the Attic,£51.77
1,1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History of Humankind,£54.23
...,...,...,...,...
995,995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's Adventures in Won...,£55.53
996,996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,Ajin: Demi-Human Volume 1 (Ajin: Demi-Human #1),£57.06
997,997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The Regency Spies of London #1),£16.97
998,998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's Murder Club #1),£53.98
999,999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,1000 Places to See Before You Die,£26.08

In [77]:
df2.drop('Unnamed: 0',axis=1,inplace=True)

In [78]:
df2

,image_url,book_title,product_price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the Attic,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History of Humankind,£54.23
...,...,...,...
995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's Adventures in Won...,£55.53
996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,Ajin: Demi-Human Volume 1 (Ajin: Demi-Human #1),£57.06
997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The Regency Spies of London #1),£16.97
998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's Murder Club #1),£53.98
999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,1000 Places to See Before You Die,£26.08

In [84]:
df2.to_csv('fake.csv',index=False)

In [85]:
df3 = pd.read_csv('fake.csv')

In [87]:
df3

,image_url,book_title,product_price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the Attic,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History of Humankind,£54.23
...,...,...,...
995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's Adventures in Won...,£55.53
996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,Ajin: Demi-Human Volume 1 (Ajin: Demi-Human #1),£57.06
997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The Regency Spies of London #1),£16.97
998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's Murder Club #1),£53.98
999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,1000 Places to See Before You Die,£26.08

In [93]:
df4 = pd.read_csv(r'bookstore/books2.csv',names=tits)

In [94]:
df4

,image_url,book_title,product_price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the ...,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History ...,£54.23
...,...,...,...
995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's ...,£55.53
996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,Ajin: Demi-Human Volume 1 ...,£57.06
997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The ...,£16.97
998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's ...,£53.98
999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,1000 Places to See ...,£26.08

In [95]:
df4.to_csv('bookstore2.csv',index=False)

In [96]:
fuck = pd.read_csv('bookstore2.csv')

In [97]:
fuck

,image_url,book_title,product_price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the ...,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History ...,£54.23
...,...,...,...
995,../media/cache/96/ee/96ee77d71a31b7694dac6855f...,Alice in Wonderland (Alice's ...,£55.53
996,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...,Ajin: Demi-Human Volume 1 ...,£57.06
997,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...,A Spy's Devotion (The ...,£16.97
998,../media/cache/2b/41/2b4161c5b72a4ae386b644682...,1st to Die (Women's ...,£53.98
999,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...,1000 Places to See ...,£26.08